.App {
  text-align: center;
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
 margin: auto;
}

.form-control input {
  width: 30%;
  height: 30px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.table {
  border: 1;
  color: #000;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}