.App {
  text-align: center;
}
table{
  margin-top: 15px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
 margin: auto;
}

.form-control input {
  width: 30%;
  height: 30px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.btn {
  display: inline-block;
  background: #000;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.search__city{
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}